{
  "extends": "eslint-config-akveo-react-native",
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-boolean-value": [1, "always"],
    "react/sort-comp": [1, {
      "order": [
        "prop-types",
        "platform-refs",
        "instance-variables",
        "lifecycle",
        "instance-methods",
        "static-methods",
        "everything-else",
        "render"
      ],
      "groups": {
        "prop-types": [
          "propTypes",
          "defaultProps"
        ],
        "platform-refs": [
          "displayName",
          "statics",
          "mixins",
          "contextTypes",
          "childContextTypes",
          "state"
        ],
        "lifecycle": [
          "constructor",
          "getDefaultProps",
          "getInitialState",
          "getChildContext",
          "getDerivedStateFromProps",
          "componentWillMount",
          "UNSAFE_componentWillMount",
          "componentDidMount",
          "componentWillReceiveProps",
          "UNSAFE_componentWillReceiveProps",
          "shouldComponentUpdate",
          "componentWillUpdate",
          "UNSAFE_componentWillUpdate",
          "getSnapshotBeforeUpdate",
          "componentDidUpdate",
          "componentDidCatch",
          "componentWillUnmount"
        ]
      }
    }]
  }
}