# osx
.DS_Store

# intellij
.idea
local.properties
*.iml
*.hprof
.cxx/

# node.js
node_modules/
npm-debug.log

# docs
docs/docs.json
docs/src/input.json
docs/src/playground.json
docs/src/examples.json
docs/src/assets/playground-build/
docs/src/assets/examples-build/

# showcases
src/showcases/env/index.js
src/showcases/web-build/

.expo
dist
