@import '../@theme/styles/themes';

@include nb-install-component() {

  $convex-bg: linear-gradient(to bottom, #f1f3f6 0, transparent 18%);
  $content-width: nb-theme(content-width);
  $max-width: 960px;

  .content-center {
    max-width: $content-width;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
  }

  .hero-image {
    overflow: hidden;
    background-color: #3366ff;
    background-image: url('/assets/img/bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    .content-center {
      flex-direction: column;
    }
  }

  .concave {
    margin-bottom: -5px;
    margin-top: -5rem;
    margin-left: -20%;
    margin-right: -20%;

    @include media-breakpoint-up(md) {
      margin-top: -7rem;
    }

    @include media-breakpoint-up(lg) {
      margin-top: -8.5rem;
    }

    @include media-breakpoint-up(xl) {
      margin-top: -15rem;
    }
  }

  .features {
    margin-top: 5rem;
    justify-content: center;
    max-width: $max-width;
  }

  .features, .advantages {
    margin-bottom: 5rem;
  }

  .advantages {
    position: relative;
    overflow: hidden;

    > .content-center {
      max-width: $max-width;
    }
  }

  ngd-footer {
    max-width: $max-width;
    margin: 0 auto;
  }

  @include media-breakpoint-up(is) {
    ngd-hero {
      margin-top: 4rem;
    }
  }

  @include media-breakpoint-up(md) {
    ngd-hero {
      margin-top: 2rem;
    }

    .advantages {
      padding-top: 5.5rem;
      padding-bottom: 5.5rem;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        height: 24rem;
        right: -20%;
        left: -20%;
        background: $convex-bg;
        z-index: -1;
        border-radius: 50%;
      }
    }
  }
}

