@import '../../../@theme/styles/themes';

@include nb-install-component() {

  $inherited-fg: nb-theme(color-fg);
  $selected-row-bg: nb-theme(color-gray-light);

  h2 {
    text-transform: capitalize;
  }

  .inheritance-icon {
    font-size: 1rem;
    margin: 0 0.25rem;
    vertical-align: middle;
  }

  .inheritance-property {
    color: $inherited-fg;
  }

  .parent-theme-name {
    margin-left: 0.25rem;
  }

  .highlighted-row {
    background-color: $selected-row-bg !important;
  }

  nb-card table.striped tbody tr.not-found {
    background: nb-theme(background-basic-color-1);
    color: nb-theme(text-disabled-color);
  }
}
