@import '../../../styles/variables';

@include nga-install-component {
  div ~ div {

    width: nga-theme(right-sidebar-width);
    height: 500px;
    position: relative;
    margin-top: 1rem;
    color: nga-theme(color-fg);
    background: url(../../../../assets/pics/phoneImage.png);
    background-repeat: no-repeat;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: contain;

    img {
      position: absolute;
      top: 53px;
      left: 33px;
      width: 214px;
      height: 378px;
    }

    &.android {
      background: url(../../../../assets/pics/androidPhoneImage.png);
      background-size: contain;
      background-repeat: no-repeat;
      -o-background-size: cover;
      -moz-background-size: cover;
      -webkit-background-size: cover;
      background-size: contain;
      img {
        top: 55px;
        left: 30px;
        width: 218px;
        height: 385px;
      }
    }
  }

  div {
    text-align: center;
    width: nga-theme(right-sidebar-width);

    & > button {
      padding: 0.5em 1em;
      background: none;
      border: none;
      text-align: center;
      &.active {
        background: nga-theme(color-primary);
        border-radius: 1em;
        color: #fff;
      }
      &:focus {
        outline: none;
      }
    }
  }
}
