@import '../../../@theme/styles/themes';

@include nb-install-component() {
  position: relative;

  input {
    padding-left: 3rem;
  }

  nb-icon {
    color: nb-theme(input-placeholder-text-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
    z-index: 1;
    font-size: 1.25rem;
  }
}
