@mixin ngd-global-theme() {
 // TODO: global styles below nga-layout
  .ui-kitten {
    font-family: nga-theme(kitten-font);
  }
  a {
    text-decoration: none;
    color: nga-theme(color-fg);
  }
  // TODO: remove once a new version of framework with this feature released
  .layout {
    font-family: nga-theme(font-main);
    font-weight: nga-theme(font-weight-light);
  }
  nga-layout-header, nga-layout-footer {
    nav {
      display: block !important; //to fix ie header-footer issue;
    }
  }
}


// TODO: move to globals, use mixins
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.7);
}

// For Internet Explorer
body {
  scrollbar-face-color: rgba(0, 0, 0, 0.3);
  scrollbar-track-color: rgba(255, 255, 255, 0.7);
  min-width: 320px;
}

body.scrolless {
  overflow: hidden;
}


.github-fork-ribbon {
  &::before {
    position: fixed;
    box-sizing: content-box;
    background: #fff;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.3);
  }

  &::after {
    position: fixed;
    color: #666;
    border-color: transparent;
    text-shadow: none;
  }
}

@media screen and (max-width: 900px) {
  .github-fork-ribbon{
    display: none;
  }
}