// nga theming framework
@import '~@akveo/nga-theme/styles/theming';
// nga our of the box themes
@import '~@akveo/nga-theme/styles/themes';

// which themes you what to enable (empty to enable all - not recommended)
$nga-enabled-themes: (default);

@mixin nga-install-root-component() {

	$themes-to-install: get-enabled-themes();

	@each $theme-name, $theme in $themes-to-install {
		:host .nga-theme-#{$theme-name} {
			$theme: $theme !global;
			@content;
		}
	}
}

$nga-themes: nga-register-theme((
  font-main: unquote('Roboto, sans-serif'),
  kitten-font: unquote('Righteous, cursive'),
  font-secondary: font-main,
  color-bg: white,
  color-primary: #ff241f,
  color-secondary: rgb(253, 224, 32),
  layout-padding: 0,
  header-bg: white,
  header-fg: rgba(black, 0.75),

  shadow: none,
  color-fg: rgba(0, 0, 0, 0.87),
  menu-font-size: 1.25rem,
  menu-fg: color-fg,
  card-line-height: 1.25,
  sidebar-width: 12rem,
  layout-content-padding: 0 1rem,
  //just my vars
  color-fg-active: rgba(255, 40, 36, 0.87),
  content-width: 1312px,
  layout-content-width: 1312px,
  header-menu-width: 320px,
  color-fg-inverse: white,
  docs-content-margin-top: 1.5rem,
  right-sidebar-width: 17.5rem,
	code-snippets-bg: rgb(245, 246, 252),

  header-padding: 0,
  header-height: 80px,
  header-line-height: header-height,
  menu-active-bg: color-bg,
  menu-active-fg: color-fg-active,
  menu-submenu-active-fg: color-fg-active,
	menu-submenu-padding: 0,
  menu-submenu-active-bg: color-bg,
  footer-height: 100px,
  footer-bg: color-bg,
  footer-fg: color-fg,
  footer-padding: 1rem,
  layout-line-height: 1.5,
  sidebar-bg: color-bg,
  card-font-weight: 400,
  card-padding: 1rem,
  font-size-lg: 2rem,
  sidebar-padding: 0.5rem,
	footer-separator: rgba(0, 0, 0, 0.1),
), default, default);
