@import '../../styles/variables';

@include nga-install-component {

  max-width: nga-theme(content-width);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: auto;
  .socio {
    a, a:hover, a:focus, a:active {
      font-size: 41px;
      color: #ff2825;
      &:first-child {
        margin-right: 10px;
      }
    }
  }

  @media screen and (max-width: 970px) {
    p {
      font-size: 0.75rem;
    }
  }

  @media screen and (max-width: 600px){
    flex-direction: column-reverse;
    .socio {
      display: none;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
}
