@import '../styles/variables';

@include nga-install-root-component {

  nga-layout-header {
    border-bottom: 1px solid #eee;
  }

  /deep/ .layout-container {
    max-width: nga-theme(content-width);
    width: 100%;
    margin: nga-theme(docs-content-margin-top) auto;
    padding: nga-theme(layout-content-padding);
    .content {
      min-width: 0;
      nga-layout-column {
        min-width: 0;
        padding: 0 0 0 1rem;
      }
    }

    nga-sidebar {
			z-index: auto;
      .scrollable {
        height: calc(100vh - #{nga-theme(header-height)} - #{nga-theme(docs-content-margin-top)}); // TODO: get rid of this hardcode 130px;
      }
      &.right { // need to handle second sidebar width separatley
        width: nga-theme(right-sidebar-width);
        .scrollable {
          width: 100%;
        }
      }

      nga-menu {
        & > ul > li {
          padding: 0.5rem 0;
          & > a:first-child {
            font-weight: bold;
            cursor: default;
          }
        }
        a {
          padding-left: 0;
          font-weight: 400;
          &.active {
            font-weight: bold;
          }
        }
        i {
          display: none;
        }
        .menu-collapsed {
          visibility: visible;
          opacity: 1;
          height: 100%;
        }
      }
    }
  }

  @media screen and (max-width: 900px) {
    nga-sidebar {
      display: none;
    }
    /deep/ .layout-container {
      padding: 0;
      .content nga-layout-column {
        padding: 0;
      }
    }
  }

  @media screen and (max-width: nga-theme(content-width)) {
    nga-sidebar[right] {
      display: none;
    }
  }
}
